<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Login</title>
</head>


<!-- ======form to logout========= -->

<body class="d-flex justify-content-between container">
  <div>
    <h1>Recipe Share</h1>
    <h2>Register</h2>
    {% for message in get_flashed_messages(category_filter=['reg']) %}
    <p class="text-danger">{{ message }}</p>
    {% endfor %}
    <form action="/user/create" method="post" class="d-flex flex-column">
      <label>First Name :</label>
      <input name="first_name" type="text">
      <label>Last Name :</label>
      <input name="last_name" type="text">
      <label>Email :</label>
      <input name="email" type="text">
      <label>Password :</label>
      <input name="password" type="password">
      <label>Confirm Password :</label>
      <input name="confirm_pw" type="password">
      <button>Submit</button>
    </form>
  </div>

  <!--=====form to login=============  -->

  <div>
    <h2>Log in</h2>
    {% for message in get_flashed_messages(category_filter=['login']) %}
    <p class="text-danger">{{ message }}</p>
    {% endfor %}
    <form action="/login" method="post">
      <label>Email :</label>
      <input name="email" type="text">
      <label>Password</label>
      <input type="password" name="password">
      <button>Submit</button>
    </form>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>