<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title> Show A Recipes</title>
</head>
<body>
  <div class="container">
    <div class="d-flex justify-content-between">
      <h1>Welcome,{{logged_user.first_name}} </h1>
      <a href="/dashboard">Back To Recipes</a>
      <a href="/users/logout">Log Out</a>
    </div>

    <h2>{{this_recipe.name}}</h2>
    <h4>Posted by {{this_recipe.writer.first_name}} {{this_recipe.writer.last_name}}</h4>
  </div>

        <p>Description : {{this_recipe.description}}</p>
        <p>Under 30 Min? {% if this_recipe.under==1 %}Yes {%else%}NO {%endif%}</p>
        <p>Instructions: {{this_recipe.instructions}}</p>
        <p>Date Cooked/Made : {{this_recipe.date_made}}</p>

</body>
</html>